{% comment %}

    Figure include adds an image marked up using figure
    Options:
    - "img" = the filename of the image located in the /assets/images/ folder of your repository, or full url to external image
    - "alt" = description of the image contents for the alt text
    - "caption" = text for caption of the figure (optional)
    - "width" = manually set width using options such as "50%" (optional)

{% endcomment %}
<figure class="figure d-block text-center p-4">
    <img src="{% if include.img contains '//' %}{{ include.img }}{% else %}{{ include.img | prepend: '/assets/images/' | relative_url }}{% endif %}" alt="{{ include.alt }}" class="figure-img"{% if include.width %} style="width:{{ include.width }};"{% endif %}>
    {% if include.caption %}<figcaption class="figure-caption">{{ include.caption | markdownify }}</figcaption>{% endif %}
</figure>
