// add custom sass here to override any styles

.site-title img { height: 53px; }

#footer-logo { height: 80px; }
footer .d-flex { 
    align-items: flex-start; 
    a { background-image: none; }
}

/*
// change code block color
.highlighter-rouge {
    color: #06044e;
}
*/
// make code font size same as body
code {
    @include fs-4;
}
// add margin to top of code blocks
div.highlighter-rouge {
    margin-top: 0.75rem;
}

/* 
    Alert border color utilities
    - cross between bootstrap .alert/.card and JtDs .code-example
    - color options similar to JtDs btn- classes 
*/ 
.alert {
    padding: $sp-3;
    margin-top: $sp-6;
    margin-bottom: $sp-6;
    border: 2px solid $border-color;
    border-radius: $border-radius;
    box-shadow: 3px 3px 5px darkgrey;
}
.alert-primary {
    border-color: $btn-primary-color;
}
.alert-purple {
    border-color: $purple-100;
}
.alert-blue {
    border-color: $blue-000;
}
.alert-green {
    border-color: $green-100;
}
.alert-yellow {
    border-color: $yellow-100;
}
.alert-red {
    border-color: $red-300;
}

/* figure include */
.figure-img {
    max-width: 100%;
    border: 2px solid $border-color;
    border-radius: $border-radius;
}
.figure-caption {
    p { 
        margin-top: .25em;
        margin-bottom: .25em;
        font-size: $font-size-3;
        color: $grey-dk-200;
    }
}


/* 
U of I Colors
pride-gold,#F1B300
clearwater,#00AEC7
clearwater-light,#8BD5E5
payette-blue,#003E51
ponderosa-pine,#004E42
garnet,#D22630
wild-rose,#E10098
palouse-green,#00AF66
*/ 

// custom btn generators
@mixin btn-outline($fg, $bg) {
    color: $fg;
    border: $bg solid 2px;
    background-color: $body-background-color;
    box-shadow: none;
    &:hover {
        background-color: $bg;
    }
} 
@mixin btn-custom($fg, $bg) {
  color: $fg;
  background-color: $bg;
  box-shadow: none;
  //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);

  &:hover {
    color: $fg;
    background-color: darken($bg, 2%);
    //background-image: linear-gradient((lighten($bg, 2%), darken($bg, 4%)));
  }

  &:active,
  &.selected {
    background-color: darken($bg, 5%);
    background-image: none;
    //box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  &.selected:hover {
    background-color: darken($bg, 10%);
  }
}

// set up custom U of I buttons
.btn-pride-gold {
    @include btn-custom($body-heading-color, #F1B300);
}
.btn-outline-pride-gold {
    @include btn-outline($body-heading-color, #F1B300);
}
.btn-clearwater {
    @include btn-custom($body-heading-color, #00AEC7);
}
.btn-outline-clearwater {
    @include btn-outline($body-heading-color, #00AEC7);
}
.btn-palouse-green {
    @include btn-custom($body-heading-color, #00AF66);
}
.btn-outline-palouse-green {
    @include btn-outline($body-heading-color, #00AF66);
}
