// add custom sass here to override any styles
.site-title img { height: 53px; }
/*
// change code block color
.highlighter-rouge {
    color: #06044e;
}
*/
// make code font size same as body
code {
    @include fs-4;
}
// add margin to top of code blocks
div.highlighter-rouge {
    margin-top: 0.75rem;
}

/* 
    Alert border color utilities
    - cross between bootstrap .alert/.card and JtDs .code-example
    - color options similar to JtDs btn- classes 
*/ 
.alert {
    padding: $sp-3;
    margin-top: $sp-6;
    margin-bottom: $sp-6;
    border: 2px solid $border-color;
    border-radius: $border-radius;
    box-shadow: 3px 3px 5px darkgrey;
}
.alert-primary {
    border-color: $btn-primary-color;
}
.alert-purple {
    border-color: $purple-100;
}
.alert-blue {
    border-color: $blue-000;
}
.alert-green {
    border-color: $green-100;
}
.alert-yellow {
    border-color: $yellow-100;
}
.alert-red {
    border-color: $red-300;
}

/* figure include */
.figure-img {
    max-width: 100%;
    border: 2px solid $border-color;
    border-radius: $border-radius;
}
.figure-caption {
    p { 
        margin-top: .25em;
        margin-bottom: .25em;
        font-size: $font-size-3;
        color: $grey-dk-200;
    }
}


/* 
U of I Colors
pride-gold,#F1B300
clearwater,#00AEC7
clearwater-light,#8BD5E5
payette-blue,#003E51
ponderosa-pine,#004E42
garnet,#D22630
wild-rose,#E10098
palouse-green,#00AF66
*/ 

// set up custom U of I buttons
.btn-pride-gold {
    @include btn-color($body-heading-color, #F1B300);
}
.btn-clearwater {
    @include btn-color($body-heading-color, #00AEC7);
}
.btn-palouse-green {
    @include btn-color($body-heading-color, #00AF66);
}
