// create custom color scheme 
// override variables from _sass/support/_variables.scss

// make text colors darker 
$body-text-color: #212529;
$body-heading-color: #111;
$nav-child-link-color: $grey-dk-250;
$link-color: $blue-100;
$btn-primary-color: $blue-100;

// make fonts bigger
$root-font-size: 18px; // Base font-size for rems
$font-size-1: 9px;
$font-size-1-sm: 10px;
$font-size-2: 12px; //h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 14px; //h5
$font-size-4: 16px;
$font-size-5: 18px; //h3
$font-size-6: 20px; //h2
$font-size-7: 26px;
$font-size-8: 34px; //h1
$font-size-9: 38px;
$font-size-10: 44px;
$font-size-10-sm: 50px;

/*

$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
$link-color: $purple-000;
$btn-primary-color: $purple-100;
$base-button-color: #f7f7f7;

$border: 1px solid;
$border-radius: 4px;
$border-color: $grey-lt-100;

*/
